<div class="steps">
  <h3 class="step" [ngClass]="{ active: selectedStep === 0 }">1. Find Order</h3>
  <h3 class="step" [ngClass]="{ active: selectedStep === 1 }">2. Prepare Products</h3>
  <h3 class="step" [ngClass]="{ active: selectedStep === 2 }">3. Confirm Order</h3>
</div>

<app-import-orders-table (selectOrder)="onOrderSelected($event)" *ngIf="!selectedOrder"></app-import-orders-table>
<app-order-info *ngIf="selectedOrder" [selectedOrder]="selectedOrder"></app-order-info>

<div class="footer">
  <app-button *ngIf="!selectedOrder" title="Cancel" routerLink=""></app-button>

  <ng-template [ngIf]="selectedOrder">
    <app-button title="Back" (click)="goBack()"></app-button>
    <app-button
      title="Next"
      (click)="goToPrepareProducts()"
      *ngIf="selectedStep === 0"
    ></app-button>
    <app-button
      title="Next"
      (click)="goToConfirmOrder()"
      *ngIf="selectedStep === 1"
    ></app-button>
    <app-button
      title="Confirm and Ship"
      (click)="confirmOrder()"
      *ngIf="selectedStep === 2"
    ></app-button>
  </ng-template>
</div>
