<div class="container">
  <div class="header">
    <h1>Orders</h1>
    <app-button title="Import Orders" routerLink="/import-orders"></app-button>
  </div>
  <table class="orders">
    <tr class="ordersHeader">
      <th>#</th>
      <th>Customer</th>
      <th>Created</th>
      <th>Revenue $</th>
      <th>Sost $</th>
      <th>Price $</th>
      <th>Fulfillment</th>
    </tr>
    <tr *ngFor="let order of orders">
      <td> {{ order.id }} </td>
      <td> {{ order.customer }} </td>
      <td> {{ order.created }} </td>
      <td> {{ order.revenue }} </td>
      <td> {{ order.sost }} </td>
      <td> {{ order.price }} </td>
      <td> {{ order.fulfillment }} </td>
    </tr>
  </table>
</div>
